{% extends 'base.html.twig' %}

{% block title %}Оформление заказа{% endblock %}

{% block body %}
    <div id="order_content">
        {% include '/order/_make_content.html.twig' %}
    </div>
{% endblock %}